$table-font-color: #606c71;
$table-border-color: #e9ebec;
::ng-deep {
  table {
    color: $table-font-color;
    tr {
      td,
      th {
        border: 1px solid $table-border-color;
      }
    }
  }
}
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
